<%= link_to "ここはレッスンルームです"root_path, class: 'room-btn' %>

<%= link_to new_lesson_room_review_path(@lesson_room.id), class: 'room-btn' do %>
<span class='btn-text'>レッスン記録作成フォーム</span><br>
<% end %>

<% @reviews.each do |f|%>
  <div class ="review-name">
   <%= link_to lesson_room_review_path(f.id), class: 'room-serect-btn' do%>
   <span class='botn-text'><%= f.title %></span><br>
   <% end %>
  </div>
<% end %>