<h1>ようこそ、LESSON MANAGEMENT へ</h1>

<h1>Topページ</h1>
<p>ゲスト さん、こんにちは</p>
  <%= link_to new_user_registration_path, class: 'admin-btn' do %>
    <span class='admin-btn-text'>新規登録はこちら</span><br>
  <% end %>
  <%= link_to new_user_session_path, class: 'customer-btn' do %>
    <span class='customer-btn-text'>ログインページ</span><br>
  <% end %>


