body{
  background-size:100%;
  background-image: url(https://pakutaso.cdn.rabify.me/shared/img/thumb/ellycollection009.jpg.webp?d=1420);
  background-attachment: fixed;
}
.my-page-top{
  width: 100vw;
  position:relative;
}
.my-page{
  text-align:center;
}
.my-page-text{
 border:5px double darkgray;
}


.sub-top{
  display:flex;
  justify-content:space-around;
}

.field{
  text-align: center;
}
.input-birth-wrap{
  display:flex;
  align-items:center;
  margin:0 20vw 0 20vw;
  
}
.form_text1{
  margin-left:20vw;
}

.actions{
  text-align: center;
}
/*プロフィール*/
h2{
  text-align:center;
}

.profile-form{
  text-align: center;
}
.profile-table{
  width: 25vw;
  margin:auto;
  background-color:lightyellow;
  border-style:solid;
  position: relative;
}

.profile-col1{
  border-style: double;
  border-color:purple;
}

.profile-edit-btn{
  text-align:center;
  
}

/*記録フォーム＆一覧*/
.room-form-block{
  width: 25vw;
  border : 1px double #000;
  padding:10px;
  position: relative;
}

.form-block{
  width:100%;
  height:100%;
  top:0;
  left:0;
  background-color:lightyellow;
  opacity:0.5;
  position:absolute;

}

.lesson-room-name{
  width:20vw;
  display:flex;
  justify-content: space-between;
}

.room-text{
  color:black;
  text-decoration: none;
  position:relative;
}

.room-text-2{ 
  display:flex;
  justify-content:flex-end;
  position:relative;
}


/*レッスン日程予定*/
.calender-near-day{
  width: 30vw;
  border : 1px double #000;
  padding:10px;
  overflow: scroll;
  position: relative;
}
.near-block{
  width:100%;
  height:100%;
  top:0;
  left:0;
  background-color:lightyellow;
  opacity:0.5;
  position: absolute;
}
.calender-text{
  color:black;
  text-decoration:none;
  position: relative;
}


details > summary {
  padding: 2px 6px;
  width: 15em;
  border: none;
  cursor: pointer;
}

details > summary::-webkit-details-marker {
  display: none;
}

  details[open] .open {
  display: none ;

}

details:not([open]) .close {
  display: none ;
}


